* {
  font-family: Verdana;
  background-color: black;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}
.download {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}
p {
  font-size: 21px;
  color: Gray;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
.excursion {
  text-align: right;
  color: Gray;
}
.video {
  text-align: center;
}
.phone {
  text-align: center;
}
.camp {
  text-align: center;
}
